.header {
    position: absolute;
    height: 190px;
    width: 1920px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: rgba(250, 246, 246, 1);
    box-shadow: 0px 6px 20px 0px rgba(96, 44, 44, 0.2);
}

.logo {
    position: absolute;
    width: 90px;
    height: 72px;
    left: 0px;
    top: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 72px;
    color: #000000;
    top: 20px;
    left: 60px;
    right: 1770px;
    bottom: 98px;
}

.logo_item {
    position: absolute;
    width: 270px;
    height: 44px;
    left: 60px;
    top: 82px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #989898;
}

.icons_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 314px;
    height: 54px;
    left: 1546px;
    top: 94px;
}

.icon_item1 {
    position: static;
    left: 0%;
    right: 0%;
    top: 59.26%;
    bottom: 0%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #25252D;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.icon_item2 {
    position: static;
    left: 0%;
    right: 0%;
    top: 59.26%;
    bottom: 0%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #25252D;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.icon_item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: static;
    width: 59px;
    height: 54px;
    left: 255px;
    top: 0px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 38px;
}

.icon_bag {
    position: static;
    left: 22.88%;
    right: 22.88%;
    top: 0%;
    bottom: 40.74%;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.icon_vector {
    position: absolute;
    width: 12.07px;
    height: 11.5px;
    left: 10px;
    top: 3px;
    
    width: 50px;
  height: 50px;
  border-radius: 100px 100px 0 0;
  border-top: 5px solid rgba(37, 37, 45, 1);
  border-left: 5px solid rgba(37, 37, 45, 1);
  border-right: 5px solid rgba(37, 37, 45, 1);
}

.icon_figur {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 34.38%;
    bottom: 15.62%;
    border: 3px solid #25252D;
}

.icon_basket {
    position: static;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #25252D;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
    height: 22px;
    top: 126px;
    left: 1801px;
    right: 60px;
    bottom: 42px;
}